body {
    background-image:url('../images/smiley.jpg');
    margin-top: 0;
    margin-left: 0;
    height: 100%;
    background-size: cover;
}

.container{
    margin-top: 8%;
    border: rgb(45, 43, 54) 1px solid;
    width: 70%;
    height: 50%;
    background-color: rgba(158, 208, 228, 0.521) ;
    
}

#timeLeft{
    border: 1px red dashed;
    text-align: center;
    font-weight: bold;
};

#questionsDisplay{
    border: 1px red solid;
    text-align: center;
    font-weight: bold;
};

#answersDisplay{
    border: 1px yellow solid;
};

#start {
    position: relative;
    bottom: -150px;
}

h1{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 30px;

}